@import "../utils/mixins";
@import "../utils/breakpoints";

.checkbox {
  margin-bottom: var(--nypl-space-s);

  span {
    font-weight: bold;
  }
}

.advancedSearchButtons {
  display: block;
  width: 91%;

  @include media($nypl-breakpoint-medium) {
    justify-content: flex-end;
    display: flex;
  }

  button {
    margin: var(--nypl-space-xxs);
    width: 100%;
    @include media($nypl-breakpoint-medium) {
      width: 139px;
    }
  }
}
