@import "../utils/mixins";
@import "../utils/variables";

// min-heights to avoid page jump on rendering of header.
.nyplHeader {
  min-height: 60px;

  @include media($nypl-breakpoint-medium) {
    min-height: 160px;
  }

  @include media($nypl-breakpoint-large) {
    min-height: 205px;
  }
}

.appContainer {
  margin: 0 auto;
  max-width: $nypl-max-width;
  padding: 0 var(--nypl-space-s);
}