.bibDetails {
  font-size: var(--nypl-fontSizes-desktop-body-body2);

  h3 {
    margin-bottom: var(--nypl-space-m);
  }

  dt {
    @media (max-width: 600px) {
      margin-bottom: var(--nypl-space-xs);
    }
  }

  dl dt,
  dl dd {
    padding-top: 0;
    padding-bottom: 0;
  }
}
