@import "../utils/mixins";

.bibDetails {
  dl > dt,
  dl > dd {
    border: none;
    ol {
      // list-style-type: none;
      list-style: none;
      padding-left: 0;
    }
  }

  border-bottom: none;
}
