.bibDetails {
  font-size: var(--nypl-fontSizes-desktop-body-body2);

  &.inBibPage {
    margin-top: var(--nypl-space-xl) !important;
  }

  h3 {
    border: none;
    margin-bottom: var(--nypl-space-m);
  }

  dt {
    @media (max-width: 600px) {
      margin-bottom: var(--nypl-space-xs);
    }
  }

  dl dt,
  dl dd {
    padding-top: 0;
  }
}
