@import "../utils/mixins";

.itemFilterOptionsContainer {
  position: absolute;
  word-wrap: break-word;
  z-index: 1;
  background-color: white;
  min-width: 230px;
  padding: 10px;
  border: 1px solid var(--nypl-colors-ui-gray-medium);
}

.outerFiltersContainer {
  background-color: var(--nypl-colors-ui-gray-x-light-cool);
  padding: 16px;
  min-height: 128px;
  z-index: 0;
}

.innerFiltersContainer {
  display: flex;
  // flex-wrap: wrap;
}

.filterGroup {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  // width: fit-content;
}

.filterHeading {
  flex-basis: 100%;
}

.filterGroupMobile {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  // width: fit-content;
  & .itemFilterOptionsContainer {
    position: relative;
  }
  & .itemFilter {
    margin-right: 0px;
  }
}

.itemFilter {
  background-color: white;
  min-width: 230px;
  display: inline-block;
  margin-right: var(--nypl-space-s);
  margin-bottom: var(--nypl-space-xs);
}
