.itemTable {
  margin-top: var(--nypl-space-s);
  margin-bottom: var(--nypl-space-s);
  width: unset !important;

  thead {
    margin-bottom: var(--nypl-space-xs);
  }

  tr {
    border: 0 !important;

    th,
    td {
      // Meant to be 240 col width + 32 (gap) = 272px
      width: 272px;
      padding: 0;
    }
  }
}
