@import "../utils/mixins";

.itemFilterOptionsContainer {
  box-sizing: border-box;
  padding: 10px;
  word-wrap: break-word;
  z-index: 1;
  max-width: 230px;
  margin: 0px;
}

.filtersContainer {
  background-color: var(--nypl-colors-ui-gray-x-light-cool);
  padding: 16px;
  min-height: 128px;
  z-index: 0;
}

.filterGroup {
  display: flex;
  width: fit-content;
  button[id*="accordion"] {
    width: 230px;
    margin-right: var(--nypl-space-xs);
  }
  div[id*="accordion-panel"] {
    box-sizing: border-box;
    background-color: white;
    padding: 0px;
  }
}

.itemFilter {
  justify-content: space-between;
  padding: 0px;
  background-color: white;
  width: inherit;
  display: inline-block;
}
