.itemTable {
  margin-top: var(--nypl-space-m);
  margin-bottom: var(--nypl-space-s);

  tbody > tr > td {
    border-style: dashed !important;
  }

  tr {
    td:first-of-type,
    th:first-of-type {
      padding-left: 0;
    }

    td:last-of-type,
    th:last-of-type {
      padding-right: 0;
    }

    th {
      border-style: dashed !important;
      padding-top: 0;
      padding-bottom: var(--nypl-space-xxs);
    }

    span {
      vertical-align: top;
    }
  }
}
