@import "../utils/mixins";

.researchHeadingContainer {
  background-color: var(--nypl-colors-section-research-primary);

  h1 {
    @include maxWidth;
    padding: var(--nypl-space-l) var(--nypl-space-s) var(--nypl-space-xs);
    color: var(--nypl-colors-ui-white);
  }
}
