.myAccountList {
  border: none;
  dl > dt,
  dl > dd {
    border: none;
  }
  h2 {
    border: none;
  }
  .iconDd {
    @media (max-width: 600px) {
      margin-left: 2rem;
    }
  }
}

.iconDt {
  display: flex;
  margin-bottom: var(--nypl-space-xs);
  svg {
    margin-right: var(--nypl-space-xs);
  }
}

.accountSettingsTab {
  display: flex;
  button + button {
    margin-left: var(--nypl-space-xs);
  }
}
.modalHeading {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 0 !important;
  p {
    margin-top: var(--nypl-space-s);
    margin-bottom: 0;
    font-size: var(--nypl-fontSizes-desktop-heading-heading5);
    font-weight: var(--nypl-fontWeights-medium);
    letter-spacing: normal;
  }
  svg {
    margin-top: var(--nypl-space-s);
  }
}
.modalBody {
  font-size: var(--nypl-fontSizes-desktop-body-body1);
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.notification {
  font-size: var(--nypl-fontSizes-desktop-body-body1);
  margin-top: var(--nypl-space-m);
  margin-bottom: var(--nypl-space-m);
  display: flex;
  justify-content: flex-start;
}

.notificationWithIcon {
  font-size: var(--nypl-fontSizes-desktop-body-body1);
  margin-top: var(--nypl-space-m);
  margin-bottom: var(--nypl-space-m);
  display: flex;
  justify-content: flex-start;
  gap: 4px;
  svg {
    margin-top: 4px;
  }
}

.itemsTable {
  thead > tr > th,
  thead > tr > th:last-of-type {
    text-transform: unset;
    font-weight: var(--nypl-fontWeights-bold);
    border-color: var(--nypl-colors-ui-gray-light-cool);
  }
  tbody > tr > td,
  tbody > tr > td:last-of-type {
    border-color: var(--nypl-colors-ui-gray-light-cool);
    width: var(--nypl-space-52);
  }
  tbody > tr > td:first-of-type {
    width: var(--nypl-space-96);
  }
  tbody > tr > td:last-of-type {
    width: var(--nypl-sizes-40);
  }
  @media only screen and (max-width: 600px) {
    tbody > tr > td:first-of-type,
    tbody > tr > td,
    tbody > tr > td:last-of-type {
      width: auto;
    }
  }
}

.feesTable {
  margin-top: var(--nypl-space-m);
  thead > tr > th,
  thead > tr > th:last-of-type {
    text-transform: unset;
    font-weight: 700;
    border-color: var(--nypl-colors-ui-gray-light-cool);
  }
  tbody > tr > td,
  tbody > tr > td:last-of-type {
    border-color: var(--nypl-colors-ui-gray-light-cool);
  }
  th:first-of-type {
    width: auto;
  }
  th,
  th:last-of-type {
    width: var(--nypl-space-52);
  }
  tbody > tr:last-of-type {
    font-weight: var(--nypl-fontWeights-bold);
  }
}

.statusBadge {
  background: var(--nypl-colors-ui-bg-default);
  border-color: var(--nypl-colors-ui-gray-semi-dark) !important;
  border-left: 4px solid;
  font-size: var(--nypl-fontSizes-desktop-caption);
  font-weight: 510;
  font-style: normal !important;
}

.statusBadgeReady {
  background: rgba(238, 247, 240, 1) !important;
  border-color: var(--nypl-colors-ui-success-primary) !important;
  border-left: 4px solid;
  font-size: var(--nypl-fontSizes-desktop-caption);
  font-weight: 510;
  font-style: normal !important;
}
