@import "../utils/mixins";

.filterTags {
  margin-bottom: var(--nypl-space-xs);
}
.searchContainer {
  background-color: var(--nypl-colors-ui-bg-default);
  padding: var(--nypl-space-l) 0;
}

.searchContainerInner {
  @include maxWidth;
}

.auxSearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--nypl-space-s);
  margin-bottom: var(--nypl-space-s);
}

.advancedSearch {
  align-self: flex-start;
  min-width: 127px;
}

.edsLink {
  padding-right: var(--nypl-space-xl);
}

.refineButtons {
  display: flex;
  justify-content: space-between;
}

.refineCheckboxGroup {
  display: flex;
  flex-wrap: wrap;
}

.refineSearchContainer {
  background-color: var(--nypl-colors-ui-bg-default);
}
.refineSearchInner {
  @include maxWidth;
  padding-bottom: var(--nypl-space-xs);
}
