@import "../utils/mixins";

.filterTags {
  margin-bottom: var(--nypl-space-xs);

  button[id^="ts-filter-clear-all"] {
    color: var(--nypl-colors-ui-link-primary);
    text-decoration: underline;
  }
}
.searchContainer {
  background-color: var(--nypl-colors-ui-bg-default);
  padding: var(--nypl-space-l) 0;
}

.searchContainerInner {
  @include maxWidth;
}

.auxSearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--nypl-space-s);
  margin-bottom: var(--nypl-space-s);
}

.advancedSearch {
  align-self: flex-start;
  min-width: 127px;
  line-height: 1;
  margin-left: auto;

  @media screen and (min-width: 600px) {
    margin-top: -8px;
  }
}

.refineButtons {
  display: flex;
  justify-content: space-between;
}

.refineCheckboxGroup {
  display: flex;
  flex-wrap: wrap;
}

.refineSearchContainer {
  background-color: var(--nypl-colors-ui-bg-default);
}
.refineSearchInner {
  @include maxWidth;
  padding-bottom: var(--nypl-space-l);
}
