@import "../utils/mixins";

.searchContainer {
  background-color: var(--nypl-colors-ui-bg-default);
  padding: var(--nypl-space-s) 0;

  @media screen and (min-width: 600px) {
    padding: var(--nypl-space-l) 0;
  }
}

.searchContainerInner {
  @include maxWidth;
}

.searchTip {
  display: flex;
  align-items: flex-start;
  .searchTipTitle {
    font-weight: bold;
  }
  gap: var(--nypl-space-xxs);
  svg {
    margin-top: var(--nypl-space-xxxs);
  }
}

.advancedSearch {
  align-self: flex-start;
  min-width: 127px;
  margin-left: auto;

  @media screen and (min-width: 600px) {
    line-height: 1;
  }
}

.refineSearchButton {
  width: 100%;

  @media screen and (min-width: 600px) {
    width: auto;
    margin-top: var(--nypl-space-xs);
  }
}

.refineButtons {
  display: flex;
  justify-content: space-between;
}

.refineSearchContainer {
  background-color: var(--nypl-colors-ui-bg-default);
  width: fit-content;
}
.refineSearchInner {
  @include maxWidth;
  padding-bottom: var(--nypl-space-l);
}
