.logoutModalContainer {
  background: rgba(64, 64, 64, 0.9);
  height: 100vh;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutModalBody {
  @media screen and (max-width: 768px) {
    width: 100vw;
    position: absolute;
  }
  background: var(--nypl-colors-ui-bg-default);
  border: 1px solid var(--nypl-colors-ui-border-default);
  border-radius: 5px;
  padding-left: var(--nypl-space-s);
  padding-right: var(--nypl-space-s);
  padding-top: var(--nypl-space-s);
  padding-bottom: var(--nypl-space-s);
  margin-left: auto;
  margin-right: auto;
}
