// Reservoir DS breakpoint note. There are SCSS variables for
// breakpoint values imported from the DS `resources.scss` file:
$nypl-breakpoint-large: 960px;
$nypl-breakpoint-xl: 1280px;
$nypl-max-width: $nypl-breakpoint-xl;
