// Breakpoints derived from DS.
$nypl-breakpoint-mobile: 480px;
$nypl-breakpoint-sm-tablet: 768px;
$nypl-breakpoint-lg-tablet: 1024px;
$nypl-breakpoint-desktop: 1280px;
$nypl-max-width: $nypl-breakpoint-desktop;
