name: Unit tests

on:
  push:
    branches-ignore:
      # These branches run tests as part of their deployment
      - qa
      - production
      - train

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install
        run: npm ci
      - name: Unit Tests
        run: npm test
